html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#loginPopup {
    visibility: hidden;
    width:  350px;
    height: 600px;
    max-height: 70%;
    position: absolute;
    top: 15%;
    background-color: aliceblue;
    z-index: 5;
}
#userAuthTbl {
    position: relative;
    width: 100%;
    height: 100%;
}
#loginHeader {
    width: 50%;
    max-height: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
    border: 1px solid #9dbbd4;
}
#signupHeader {
    width: 50%;
    max-height: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
    border: 1px solid #9dbbd4;
}
#map-canvas {
  height: 100%;
  width: 100%;
}
.devBtn {
  border: 1px solid #F2F2F2;
}
#rightBarWrapper {
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
}
#cornerIcons {
    width: 163px;
    height: 60px;
    z-index: 9;
    font-size: 24;
    position: relative;
    float: right;
    visibility: visible;
}
#settingsIcon {
    position: relative;
    padding-top: 2px;
    padding-right: 3px;
    float: right;
    opacity: 0.3;
    
}
#profileIcon {
    position: relative;
    padding-top: 2px;
    padding-right: 3px;
    float: right;
    opacity: 0.3;
    
}
#chatNone {
    position: relative;
    padding-top: 2px;
    padding-right: 3px;
    float: right;
    opacity: 0.3;
    width: 50px;
}
#settingsBar {
    width: 0px;
    background-color: rgba(240, 255, 255, 0.85);
    border: 1px solid rgba(16, 19, 80, 0.4);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    float: right;
}
#settingsTbl th {
    
}
#settingsTbl td {
    font-size: small;
    padding-left: 3px;
    padding-bottom: 3px;
}
#userBar {
    width: 0px;
    background-color: rgba(240, 255, 255, 0.85);
    border: 1px solid rgba(16, 19, 80, 0.4);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    float: right;
}
.toggleCell {

}
#heatOuterToggle {
    width: 30px;
    height: 12px;
    border: 1px solid #191919;
    border-radius: 6px;
    background-color: darkgray;
}
#heatInnerToggle {
    height: 10px;
    width: 10px;
    border: 1px solid #191919;
    border-radius: 5px;
    background-color: #ffffff;
}
.imgSelect {
    float: left;
}