html {
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#map-canvas {
  height: 100%;
  width: 100%;
}
.devBtn {
  border: 1px solid #F2F2F2;
}
#testlbl {
    width: 75px;
    height: 40px;
    z-index: 9;
    font-size: 24;
    background-color: aliceblue;
    border: 1px solid #000000;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}